*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body {
    font-family: 'Prompt', sans-serif;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}
/* élements invisibles pour laptop */
.notLaptop{
    display: none;
}
/* conteneur en grid */
.container{
    display: grid;
    grid-template-columns: 200px 200px 1fr 200px ;
    grid-template-rows: 100px 1fr;
    grid-template-areas: 
        "header header header header"
        "nav-chaine nav-salon main side";
    height: 100%;
    width: 100%;
    background-color:green;
}

h1{
    text-align: center;
    color:#313e74;
    margin-top: 50px;
}
a{
    text-decoration: none;
    color: white;
}


header{
    grid-area: header;
    background-color: #151b36;
        display: grid;
        grid-template-columns: 100px 1fr 1fr 1fr 2fr 1fr 1fr;
        justify-content: center;
        justify-items: center;
        align-items: center;
        width: 100%;
        height:100%;
 
        background-color:  #151b36;
    }
    
.nav-chaine{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    grid-area: nav-chaine;
    background-color: #151b36;
    height: 100%;
}
.nav-salon{
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: nav-salon;
    background-color: #313e74;
    height: 100vh;
}




main{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    grid-area: main;
    background-color: aliceblue;
    height: 100%;
    width: 100%;
}

.side{
    grid-area: side;
    background-color:#313e74;
    height: 100%;
}
.logo{
    justify-self: stretch;
    width:100px;
    height: 100px;
}
.name-user{
    justify-self: start;
}
.search{
    width: 400px;
    height: 30px;
}
.police{
    font-family: 'Prompt', sans-serif;
    color: white;
}
.button-chaines, .button-creation,.button-salon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ff6715;
    width: 150px;
    height: 60px;
    border-radius: 20px;
    margin-top: 20px;
}
.button-chaines, .button-creation,.button-salon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ff6715;
    width: 150px;
    height: 60px;
    border-radius: 20px;
    margin-top: 20px;
}
.button-creation{
    margin-bottom: 20px;
}
.buttonAjout{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 50px;
    margin-left: 50px;
}
.button-creation-container{
    display: flex;
    position: fixed;
    bottom:0;
    flex-direction: column;
    justify-content: flex-end;
    background-color: #151b36;
}
.button-parametre-admin-container{
    display: grid;
    grid-template-columns: repeat(2,200px);
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    column-gap: 300px;
    
}
.button-parametre-admin{
    display: flex;
    background-color: #ff6715;
    width: 200px;
    height: 200px;
    font-size: large;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
   
    
}
.icone-parametre{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10px;
}

/* user-creation-reunion*/
.formNewUser
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
}

/* toggle switch */
*,
*:before,
*:after {
  box-sizing: border-box;
}
.toggle {
    cursor: pointer;
    display: inline-block;
  }
  
  .toggle-switch {
    display: inline-block;
    background: #ccc;
    border-radius: 16px;
    width: 58px;
    height: 32px;
    position: relative;
    vertical-align: middle;
    transition: background 0.25s;
  }
  .toggle-switch:before, .toggle-switch:after {
    content: "";
  }
  .toggle-switch:before {
    display: block;
    background: linear-gradient(to bottom, #fff 0%, #eee 100%);
    border-radius: 50%;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
    width: 24px;
    height: 24px;
    position: absolute;
    top: 4px;
    left: 4px;
    transition: left 0.25s;
  }
  .toggle:hover .toggle-switch:before {
    background: linear-gradient(to bottom, #fff 0%, #fff 100%);
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
  }
  .toggle-checkbox:checked + .toggle-switch {
    background: #56c080;
  }
  .toggle-checkbox:checked + .toggle-switch:before {
    left: 30px;
  }
  
  .toggle-checkbox {
    position: absolute;
    visibility: hidden;
  }
  
  .toggle-label {
    margin-left: 5px;
    position: relative;
    top: 2px;
  }
/* _______________________________creation reunion___________________________________ */
.container-reunion{
    height: 100%;
    width: 100%;
    background-color: #81a4cdff;
}
.container-formReunion{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #313e74;
    color: #81a4cdff;
    width: 70%;
    border-radius: 50px;
    padding: 20px;
    margin-left: 15%;
    margin-top: 4%;
}

input[type="submit"] {
    margin: 10px;
    padding: 0;
    width: 100px;
    height: 40px;
    line-height: 100%; /* Si ça fonctionne pas mets 0 */
    border-radius: 20px;
    border: 0;
    background:#ff6715; /* ou transparent je sais plus... */
    color: white;
     /* Normalement */text-decoration: none;
    
}

input[type="submit"]:hover{
    background-color:#ffb289;
    color: black;
}
  /* -------------affiche reunion --------------*/

.containerAffichageReunion{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
    width: 100%;
    background-color: #81a4cdff;
}

.container-table{
    background-color: #313e74;
    width: 500px;
    border-radius: 50px;
    min-height: 55px;
    max-height: 600px;
    padding: 20px;
    color: #81a4cdff;
    margin-top: 4%;

}

.contenuReunion{
    color:#ff6715;
    font-size: 15px;
}

/* -------------scrollbarr---------- */
.desigend-scrollbar
{
    height: 70%;
    overflow: auto;
}

::-webkit-scrollbar
{
    width: 10px;
    background-color: rgb(253, 253, 253);
    border-radius: 3px;
}

::-webkit-scrollbar-thumb
{
    background-color: rgb(97, 95, 93);
    border-radius: 5px;
}

.scroller {
    height: 100%;
    overflow: auto;
    scrollbar-color: rebeccapurple green;
    scrollbar-width: thin;
  }

/* ---------------parametres utilisateur------------------------------ */
.container-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #313e74;
    color: #81a4cdff;
    width: 70%;
    border-radius: 50px;
    min-height: 300px;
    max-height: 350px;
    padding: 20px;
    margin-left: 15%;
    margin-top: 4%;
}

.containerParamUser{
        height: 100%;
        width: 100%;
        background-color: #81a4cdff;
}

/* ________________________________________________barre de recherche____________________________________ */
.container-search{
    display: flex;
    flex-direction: column;
    
    
}

/* ------------------Pour mon Bouton des chaines à gauche --------------------------------*/
.button-new-chaines{
    color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ff6715;
    width: 150px;
    height: 60px;
    border-radius: 20px;
    margin-top: 20px;
    scrollbar-color: grey black;
}



/* __________________________________________________media query laptop_________________________________________________________________________ */

@media screen and (min-width:1050px ) and (max-width: 1400px){
.container-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #313e74;
    color: #81a4cdff;
    width: 70%;
    border-radius: 50px;
    max-height: 200px;
    padding: 20px;
    margin-left: 15%;
    margin-top: 4%;
}
.button-creation-container{

    margin-top: 0px;
    display: flex;
    position: fixed;
    bottom:0;
    flex-direction: column;
    justify-content: flex-end;
    background-color: #151b36;
    
}
.desigend-scrollbar
{
    height: 30%;
    overflow: auto;
}

::-webkit-scrollbar
{
    width: 10px;
    background-color: rgb(253, 253, 253);
    border-radius: 3px;
}

::-webkit-scrollbar-thumb
{
    background-color: rgb(97, 95, 93);
    border-radius: 5px;
}

.scroller {
    height: 63%;
    overflow-y: scroll;
    scrollbar-color: rebeccapurple green;
    scrollbar-width: thin;
  }

}

/* _________________________________________________Media query  Mobile_________________________________________________ */

@media screen and (max-width:1050px){
/* Media query page index */
.container {
    grid-template-columns: 1fr;
    grid-template-rows: 100px 60px auto 1fr;
    grid-template-areas:
        "header"
        "nav-chaine"
        "nav-salon"
        "main"
        ;
}
header{
    grid-area: header;
    background-color: #151b36;
    width: 100%;
    height:100px;
 
    
}

.nav-chaine{
    display: flex;
    flex-direction: column;
    grid-area: nav-chaine;
    height: 100%;
    background-color: #151b36;
    
}
.nav-salon{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items:center;
    width: 100%;
    max-height: 200px;
    
    grid-area: nav-salon;
    background-color: #313e74;
   
}
.navSalonMobile{
    display: flex;
    flex-direction: column;
    max-height: 200px;
    width: 100%;
}
main{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    grid-area: main;
    background-color: white;
    
}
.side{
    grid-area: side;
    background-color:#313e74;
    height: 100%;
}
.chaine-index{

    padding: 0px;
    margin-left: 00px;
    height: 0px;
    width: 100%;
}

.noMobile{
    display: none;
}
.notLaptop{
    display: flex;
}
/* Sidenav menu */
.sidenav {
    height: 50%;
    width: 250px;
    position: fixed;
    z-index: 2;
    top: 0;
    left: -250px;
    background-color: #81a4cdff;
    padding-top: 60px;
    transition: left 0.5s ease;
  }
  
  /* Sidenav menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #151b36;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #111;
  }
  
  .sidenav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  /* Active class */
  .sidenav.active {
    left: 0;
  }
  
  /* Close btn */
  .sidenav .close {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
  }
  
  /* Icône burger */
  .burger-icon span {
    display: block;
    width: 35px;
    height: 5px;
    background-color: #ff6715;
    margin: 6px 0;
  }
  

  /* ____________________menu chaine mobile___________________ */
  .sidenavchaine {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
    position: fixed;
    z-index: 1;
    width: 100%;
    margin-top: -1000px;
    background-color: #151b36;
    
  }
  
  /* Sidenav menu links */
  .sidenavchaine a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #151b36;
    display: block;
    transition: 0.3s;
  }
  
  .sidenavchaine a:hover {
    color: #111;
  }
  
  .sidenavchaine ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  /* Active class */
  .sidenavchaine.activeChaine {
    margin-top: 0px;
  }
  
  /* Close btn */
   .close {
   
    text-align: center;
    position: absolute;
    width: 10px;
    height: 10px;
    top: -10px;
    right: 20px;
    font-size: 50px;
    
  }
  
  /* Icône Btn Chaine */
  .BtnChaineMobile{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-bottom: 10px;
    padding: 0px;
    width: 100px;
    height: 50px;
    border-radius: 20px;
    border: 0;
    background:#ff6715; /* ou transparent je sais plus... */
    color: white;
     /* Normalement */text-decoration: none;
  }
 
.button-new-chaines{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ff6715;
    width: 100%;
    min-height: 30px;
    height: 30px;
    border-radius: 0px;
    margin-top: 1px;
}
.mobile{
    width: 100%;
}
/* Media query page parametre utilisateur */
.navParamUtilisateur{
    display: none;
    height: 0px;
}
.mainParamUser{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    grid-area: main;
    background-color: #313e74;
    
}
.containerParamUser{
    margin-top: -50%;
}
.container-form{
    min-width: 0%;
    margin: 0%;
    padding: 0%;
    height: 100vh;
    width: 100%;
    border-radius: 0%;
}
.formNewUser{
    margin: 0%;
    padding: 0%;
    height: 100vh;
    width: 100%;
}

.buttonAjout{
    display: flex;
    flex-direction: column;
    margin: 0%;
    padding: 5%;
    width: 100%;
}
.button-creation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ff6715;
    width: 100%;
    height: 30px;
    border-radius: 30px;
    margin: 10px;
    border: none;
   
    padding: 16px 12px;
}
.h1-ParamUser{
    margin-top: 3%;
}
.button-mobile-salon{
    color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ff6715;
    width: 150px;
    height: 60px;
    border-radius: 20px;
    margin-top: 20px;
    scrollbar-color: grey black;
}
}